*{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

/*Main page*/

.background{
    background-image: url(https://cybersport.metaratings.ru/storage/images/61/87/6187388e0f14091d5aca131b4b35392d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
   width: 100vh;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 5px solid #2B094D;
    border-top: 5px solid #2B094D;
    background-color: #ef3151;
    border-radius: 20px;
    font-size: 2em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
 }
 

a{
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s ease;
    font-family: 'Impact', fantasy;
    color:#2B094D
}

a:hover {
    transform: scale(1.5); 
}


/*Table*/

table {
    margin-top: 140px;
    margin-left: 25px;
    margin-right: 25px;
    width: 40%;
    border-collapse: collapse;
    border: 5px solid #58A0FC;
}

th {

    font-size: 26px;
    font-family: 'Impact', fantasy;
    padding: 8px;
    text-align: left;
    border-bottom: 5px solid #58A0FC;
    background-color: #201F56; 
    color: #58A0FC;
    text-align: center;

}

tr{
    border-right: 5px solid #58A0FC;

}

.tables{
    display: flex;
    justify-content: space-between; 
}


 
.fistrcow{
    color: #ffffff;
    font-size: 3em;
    font-family:'Courier New', Courier, monospace
}




/*Calculator*/

.calculator {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.calculator-container { 
    width: 400PX;
    padding: 20px;
    border: 5px solid #2B094D;
    background-color:#ef3151;
    font-size: 26px;
    font-family: 'Impact', fantasy;
    border-radius: 15px;
    color:#2B094D
}

.calculator-container h2 {
    text-align: center;
    font-family: 'Impact', fantasy;
}

.calculator-container label {
    display: block;
    margin-top: 10px; 
    font-family: 'Impact', fantasy;
}

.calculator-container input[type="text"],
.calculator-container select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color:#a796b8;
    font-family: 'Impact', fantasy;
    font-size: 1.3em;
}

.calculator-container button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-family: 'Impact', fantasy;
    font-size: 1.6em;
    background-color:#a796b8;
}

#result {
    text-align: center;
    font-family: 'Impact', fantasy;
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: bold; /* Make the text bold */
    margin-top: 20px; /* Add some space above the result */
}


/*Раздел предложения*/

.Text {
    font-family: 'Impact', fantasy;
    color: #2B094D;
    font-size: 2em;
    padding: 20px;
    margin: 20px;
  
    margin-bottom: 0;
    background-color: #ef3151;
    border: 5px solid #2B094D;
    border-radius: 20px;
}

.Text p {

    display: inline;
    color : rgb(93, 214, 93);
}


.Predloj__razdel {
    position: absolute;
    bottom: 0;
}





