* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Включает padding и borders в общую ширину и высоту элемента */
}

#my{
zoom: 100%;
}

body {
    position: relative;
    overflow: hidden; /* Предотвращает появление полос прокрутки */
}

/*Главная страница*/

.background {
    background-image: url(https://i.pinimg.com/originals/44/7e/b8/447eb824393e1f595eb23aee1e8d2609.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw; /* Убедитесь, что фон покрывает всю ширину области просмотра */
}

.menu {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 5px solid #2B094D;
    border-top: 5px solid #2B094D;
    background-color: #ef3151;
    border-radius: 20px;
    font-size: 2em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s ease;
    font-family: 'Impact', fantasy;
    color: #2B094D;
}

a:hover {
    transform: scale(1.5); 
}

/*Таблица*/

table {
    margin-top: 140px;
    margin-left: 25px;
    margin-right: 25px;
    width: 40%;
    border-collapse: collapse;
    border: 5px solid #58A0FC;
}

th {
    font-size: 26px;
    font-family: 'Impact', fantasy;
    padding: 8px;
    text-align: left;
    border-bottom: 5px solid #58A0FC;
    background-color: #201F56; 
    color: #58A0FC;
    text-align: center;
}

tr {
    border-right: 5px solid #58A0FC;
}

.tables {
    display: flex;
    justify-content: space-between; 
}

.fistrcow {
    color: #ffffff;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

/*Калькулятор*/

.calculator {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.calculator-container { 
    width: 400px;
    padding: 20px;
    border: 5px solid #2B094D;
    background-color: #ef3151;
    font-size: 26px;
    font-family: 'Impact', fantasy;
    border-radius: 15px;
    color: #2B094D;
}

.calculator-container h2 {
    text-align: center;
    font-family: 'Impact', fantasy;
}

.calculator-container label {
    display: block;
    margin-top: 10px; 
    font-family: 'Impact', fantasy;
}

.calculator-container input[type="text"],
.calculator-container select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: #a796b8;
    font-family: 'Impact', fantasy;
    font-size: 1.3em;
}

.calculator-container button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-family: 'Impact', fantasy;
    font-size: 1.6em;
    background-color: #a796b8;
}

#result {
    text-align: center;
    font-family: 'Impact', fantasy;
    font-size: 1.5em; /* Настройте размер по необходимости */
    font-weight: bold; /* Сделайте текст жирным */
    margin-top: 20px; /* Добавьте немного пространства над результатом */
}

/*Раздел предложения*/

.Text {
    font-family: 'Impact', fantasy;
    color: #2B094D;
    font-size: 2em;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    background-color: #ef3151;
    border: 5px solid #2B094D;
    border-radius: 20px;
}

.Text p {
    display: inline;
    color: rgb(93, 214, 93);
}

.Predloj__razdel {
    position: absolute;
    bottom: 0;
}
