*{
    margin: 0;
    padding: 0;
}

.background {
    min-height: 500vh;
    background-color: rgb(0, 0, 0);
    background-image: url(https://i.ytimg.com/vi/Fxyi0bdFu_I/maxresdefault_live.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cooltext{
    color: rgb(193, 201, 200);
    text-align: center;
    font-size: 100px;
    text-shadow: -1px -1px 0 #052441, 1px -1px 0 #052441, -1px 1px 0 #052441, 1px 1px 0 #052441;
    margin: 0;
    font-family: "Apple Chancery";
}

.cooltext:hover{
    color: rgb(255, 0, 0);
    cursor: url("https://vsthemes.org/uploads/cursors/67328/1ccff072774292a4a28dee8ef690dfcd.webp"), auto;
    transition: 500ms;
}
